$main-font: 'Montserrat';
$second-font: 'Roboto';

$font-size: 14px;
$font-size-mobile: 10px;

$mobile-screen-width: 768px;

$-header-bg: #d2b567;

$landing-bg: #090f13; //#161616


$landing-color : white;

$landing-description-bg: #090f13;

$landing-card-bg: #090f13;
$landing-card-color:#090f13;

$landing-techs-bg : #090f13;

$tech-wrapper-bg : #f9f9f9;

$projects-bg : #e9e2cf;

$project-card-bg : #f9f9f9;

$project-card-description-bg : #ffffff;

$project-card-description-tech-bg: #090f13;
$project-card-description-tech-color: white;


$-contact-bg:#090f13;
$contact-color : white;